<div class="container">
    <h2>Inbox</h2>
    <div class="row">

        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/{{user._id}}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{user.firstName}} {{user.lastName}}</a></li>
            </ol>
        </nav>
        <hr>
        <!-- left column -->
        <div class="col-md-3">
            <div class="list-group">
               <a href="/admin/{{user._id}}" class="list-group-item list-group-item-action">Home</a>
                <a href="/admin/{{user._id}}/profile" class="list-group-item list-group-item-action">Profile</a>
                <a href="/admin/{{user._id}}/inbox" class="list-group-item list-group-item-action active">Inbox</a>
                <a href="/admin/{{user._id}}/employee" class="list-group-item list-group-item-action">Employee</a>
                <a href="/admin/{{user._id}}/schedule" class="list-group-item list-group-item-action">Weekly schedule</a>
                <a href="/logout" class="list-group-item list-group-item-danger">Logout</a>
            </div>
        </div>

        <div class="col-md-9">
            <ul class="list-group list-group-flush">
                {{#each messages}}
                <a href="/admin/learners/{{this._id}}" class="list-group-item">{{this.firstName}} {{this.lastName}}<span class="badge badge-light">4</span></a>
                {{/each}}
            </ul>
        </div>
    </div>
</div>