<div class="container">
    <h2>Schedule</h2>
    <div class="row">

        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/{{user._id}}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{user.firstName}} {{user.lastName}}</a></li>
            </ol>
        </nav>
        <hr>
        <!-- left column -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="/admin/{{user._id}}" class="list-group-item list-group-item-action">Home</a>
                <a href="/admin/{{user._id}}/profile" class="list-group-item list-group-item-action">Profile</a>
                <a href="/admin/{{user._id}}/inbox" class="list-group-item list-group-item-action">Inbox</a>
                <a href="/admin/{{user._id}}/employee" class="list-group-item list-group-item-action">Employees</a>
                <a href="/admin/{{user._id}}/schedule" class="list-group-item list-group-item-action active">Weekly
                    schedule</a>
                <a href="/logout" class="list-group-item list-group-item-danger">Logout</a>
            </div>
        </div>

        <div class="col-md-9">
            <form action="/admin/{{user._id}}/schedule" method="POST">
                <table class="table table-hover">
                    {{!-- <caption>List of users</caption> --}}
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Day</th>
                            <th scope="col">Booked</th>
                            <th scope="col">Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each days}}
                        <tr>
                            <th scope="row">
                                {{this.uniqueId}}
                            </th>
                            <td><a href="/admin/{{this._id}}/schedule">{{this.day}}</a></td>
                            <td>{{this.count}}</td>
                            <td>{{this.available}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" id="updateBtn">Update</button>
                        {{!-- <a href="/" type="submit" class="btn btn-warning">Cancel</a> --}}
                    </div>
                </div>
            </form>
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error.message}}
            </div>
            {{/if}}
        </div>
    </div>
</div>

<script>
    let selectedCount = 0;
    document.getElementById("updateBtn").disabled = true;
    const handleClick = (cb) => {
        var checkedBoxes = document.querySelectorAll('input[type=checkbox]:checked');
        selectedCount = checkedBoxes.length;
        if (selectedCount === 3) {
            document.getElementById("updateBtn").disabled = false
        } else {
            document.getElementById("updateBtn").disabled = true;
        }
    }
</script>