<link rel="shortcut icon" href="/images/admin.jpg">
<title>Admin Dashboard</title>
</head>

<body style="font-family: 'Cormorant Garamond', serif;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="active"><a href="/reset">Delete</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class="row">
                <div class=""></div>
                <div class="col-md-8 col-sm-8">
                    <span class="label label-primary">UnderBooked</span>
                    <span class="label label-info">Enough Waiters</span>
                    <span class="label label-success">Over subscribed</span>
                </div>
            </div>
            <hr>

        </div>
        <h4 align="center"><u>Waiter Schedule.</u></h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    {{#each data}}
                        <th class="field-label col-xs-1 {{status}}">
                            <h4 style="color:white;">{{day}}</h4>
                            <br>
                            {{#each names}}
                                <h5 style="font-family:times;color:white">{{this}}</h5>
                                {{else}}
                                    <div>
                                        <h5 style="color: aquamarine;">No waiter available for the shift.</h5>
                                    </div>
                            {{/each}}
                        </th>
                    {{/each}}
                </tr>

            </table>

        </div>

        {{#each data}}
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-{{status}}" style="width: {{statusBar}}%">{{day}}</div>
            </div>
        {{/each}}
    </div>
</body>
