<title>Admin Dashboard</title>
<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
        height: 550px
    }
    /* Set gray background color and 100% height */
    .sidenav {
        background-color: #18505f;
        height: 100%;
    }
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
        .row.content {
            height: auto;
        }
    }
</style>
</head>

<body style="font-family; color:white">

    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="/reset">Clear Schedule</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs">
                <h2>Admin</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="/reset">Clear Schedule</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul><br>
            </div>
            <br>

            <div class="col-sm-9">
                <div class="well">
                    <h4>Waiter Schedule</h4>
                </div>

                <div class="table-responsive">
                    <table class="ui striped table">
                        <tr>
                            {{#each data}}
                                <th class="field-label col-xs-1 {{status}}">
                                    <h4 style="color:white;">{{day}}</h4>
                                    <br>
                                    {{#each names}}
                                        <p style="font-family:times;color:white">{{this}}</p>
                                        {{else}}
                                            <div>
                                                <h5 style="color: aquamarine;">No waiter available for the shift.</h5>
                                            </div>
                                    {{/each}}
                                </th>
                            {{/each}}
                        </tr>
                    </table>
                </div>
                <br> <br>
                {{#each data}}
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-{{status}}" style="width: {{statusBar}}%">{{day}}</div>
                    </div>
                {{/each}}

            </div>
        </div>
    </div>
